# Control Charts for Attributes (Ch 9)

The questions in this chapter as easier to code than the ones on chapter 8 because most of the calculations are simple and do not require a for/while loop.

New package: math

Functions from math: ceil, floor (ceiling and floor functions)

In [3]:
import math as mt
print(mt.ceil(3.456))
print(mt.floor(-10.76))

4
-11

In some questions where the control limits are varying, you might want to store them in a columm. One way to set the negative values in the LCLs to 0 is shown here using loc method:

In [5]:
import pandas as pd
df = pd.DataFrame({'LCL':[-1.5, 5, 2.5, -1, 3, 1, -0.5]}) 
df

   LCL
0 -1.5
1  5.0
2  2.5
3 -1.0
4  3.0
5  1.0
6 -0.5

In [6]:
df.loc[df['LCL'] < 0, 'LCL'] = 0
df

   LCL
0  0.0
1  5.0
2  2.5
3  0.0
4  3.0
5  1.0
6  0.0